<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <div class="center">
        Использование Сервиса «BUMPER.KZ» возможно только на условиях настоящего Пользовательского соглашения. 
Пожалуйста, внимательно ознакомьтесь с Пользовательским соглашением, включая все нижеследующие условия, прежде чем принять их. Вы не можете использовать Мобильное Приложение BUMPER.KZ в случае, если Вы не принимаете какое-либо из условий настоящего Пользовательского соглашения.
Если Вы не принимаете в полном объеме условия пользовательского соглашения, использование Сервиса «BUMPER.KZ» не допускается. 
        
        <strong><h3>Пользовательское соглашение об использовании сервиса «BUMPER.KZ»</h3></strong> 
Компания BUMPER.KZ, именуемое далее «Администрация сервиса», заключает настоящее Соглашение об использовании сервиса «BUMPER.KZ» с любым лицом, именуемым в дальнейшем «Пользователь».        <br><br>
        <strong>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</strong> 
        <br><br>
        </div>

1.1. <strong>Сервис «BUMPER.KZ»</strong> (далее – Сервис)  интегрированный программно-аппаратный технологический комплекс, принадлежащий Администрации сервиса, содержащий доступную неопределенному кругу лиц информацию о поиске СТО. У сервиса отсутствуют элементы социализации, которые позволяют Пользователям обмениваться между собой сообщениями и иной информацией.
<br>
1.2. <strong>Мобильное приложение BUMPER.KZ</strong> — интегрированная совокупность текстов, графических элементов, изображений, фото и видео материалов, логотипов, а также программ для ЭВМ и иной информации, размещенных в Google Play  и App Store
<br>
1.3. <strong>Пользователь</strong> – гражданин Республики Казахстан, достигший 16 лет,  либо любое юридическое лицо или индивидуальный предприниматель, которые путем совершения предусмотренных законодательством РК действий приняли настоящее пользовательское соглашение.
<br>
1.4. <strong>Профиль</strong>- раздел в Мобильном приложении, предоставляемый Администрацией сервиса при регистрации Пользователю, вход на которую осуществляется путем ввода «логина» и «пароля», определенного Пользователем.
<br>
1.5. <strong>Регистрация</strong> – процедура, в ходе которой Пользователь предоставляет достоверные данные о себе по утвержденной Администратором сервиса форме, а также логин и пароль для входа в Личный кабинет для получения доступа к полному функционалу мобильного приложения. В процессе регистрации пользователь предоставляет свои персональные данные, а также совершает действия по подтверждению предоставленных адреса электронной почты и номера мобильного телефона (активация уникальной ссылки - для электронной почты, ввод проверочного СМС-кода - для мобильного телефона).
<br>


<h3 class="center">2. ПРЕДМЕТ СОГЛАШЕНИЯ</h3>

2.1. Предметом настоящего Соглашения является предоставление Администрацией сервиса зарегистрированным Пользователям возможности размещения информации о себе. Таким образом, Сервис BUMPER.KZ является участником сделок Пользователей, предоставляя торговую платформу для размещения объявлений и сервисов СТО.
<br>
2.2. Заключение Пользователем настоящего Соглашения осуществляется путем последовательного совершения действий, указанных в п. 2.3. настоящего Соглашения. Данные пункты означают полное и безоговорочное принятие Пользователем всех условий Соглашения без каких-либо изъятий и/или ограничений.
Пользователь обязан полностью ознакомиться с настоящим Соглашением. Использование любой из услуг, предоставляемых Сайтом, означает полное и безоговорочное принятие Пользователем настоящего Соглашения.
<br>
2.3. Для настоящего Пользовательского соглашения Пользователь совершает последовательно следующие действия: 
<br>
2.3.1. Проходит Регистрацию в мобильном приложении. Регистрация пользователя является бесплатной и добровольной;
<br>
2.3.2. Осуществляет ознакомление с текстом настоящего Соглашения;<br>
2.3.3. Нажимая кнопку регистрации соглашается с «Я принимаю условия Соглашения».
<br>
2.3.4. Вводит в специальное поле проверочный одноразовый пароль, высылаемый Администрацией сервиса или третьим лицом, по поручению Администрации сервиса, на указанный Пользователем номер мобильного телефона  <br>
2.4. Активация уникальной ссылки и/или ввод проверочного кода, высланного на номер мобильного телефона (СМС-код), Пользователем является моментом заключения настоящего Соглашения между Пользователем и Администрацией сервиса, т. е. полного и безоговорочного согласия Сторон с условиями настоящего Соглашения.
<br>
2.5. Для регистрации в мобильном приложении Пользователь совершает следующие действия:<br>
2.5.1. Предоставляет регистрационные данные.<br>
2.5.2. Самостоятельно определяет «логин» и «пароль» для входа в Личный кабинет. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа к мобильному приложению. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.
<br>
2.6. Гарантии Пользователя:<br>
2.6.1. Гарантирует, что является дееспособным физическим лицом, достигшим шестнадцатилетнего возраста, либо зарегистрированным и действующим юридическим лицом/индивидуальным предпринимателем.
<br>
2.6.2. Соглашается, что несет ответственность за:<br>
- достоверность, актуальность и полноту размещаемой и предоставляемой информации, ее чистоту от претензий третьих лиц;<br>
- правомерность действий по отношению к другим Пользователям, с которыми он заключает сделки.<br>
2.6.3. Гарантирует, что размещенная им информация является точной и достоверной, не содержит оскорблений, клеветы, не является пропагандой порнографии, наркотиков, насилия, не противоречит законодательству РК.
<br>

<h3 class="center">3. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>
3.1. Администрации сервиса обязуется:<br>
3.1.1. Предоставить Пользователю доступ к Сервису путем использования Личного кабинета.<br>
3.1.2. Обеспечивать бесперебойное функционирование Сервиса, заботиться об информационной защищенности Сервиса.<br>
3.1.3. Информировать Пользователя обо всех событиях прямо или косвенно связанных с ним в  процессе работы посредством e-mail, sms и уведомлений в мобильном приложении.
<br>
3.1.4. Не разглашать персональную информацию о Пользователе, кроме случаев, когда законодательством РК предусмотрена обязанность по предоставлению такого рода информации уполномоченному контролирующему органу.
<br>

3.2. Пользователь обязуется: <br>
3.2.1. Предоставить при Регистрации и заполнении дополнительных форм актуальные персональные данные. В случае предоставления недостоверных персональных данных, Администрация сервиса имеет право  приостановить либо ограничить использование Сервиса.
<br>
3.2.2. Не разглашать логин  и пароль доступа к Личному кабинету в Сервисе и другую конфиденциальную информацию, предоставленную Администрацией сервиса, третьим лицам. Пользователь обязуется информировать Администрацию сервиса о несанкционированном доступе к Личному кабинету или о несанкционированном использовании пароля и логина Пользователя.
<br>
3.2.3. Не использовать Сервис в противоправных целях, нарушающих права третьих лиц, для сбора информации в коммерческих целях, а также не опрашивать каким-либо образом других Пользователей в коммерческих целях.
<br>
3.2.4. Перед размещением Материалов в объявлении (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания) предварительно оценивать законность их размещения и нести полную ответственность перед Администрацией сервиса и третьими лицами за такие действия.
<br>
3.2.5. Уведомлять в течение 3 (Трех) рабочих дней о смене телефонных номеров, персональных данных и банковских реквизитов (в случае их указания при регистрации). 
<br>
3.2.6. Хранить в тайне и не предоставлять другим Пользователям и третьим лицам, ставшие ему известными в результате общения с другими Пользователями и иного использования Сайта персональные данные других Пользователей и третьих лиц без получения соответствующего предварительного разрешения последних.
<br>
3.2.7. Сообщать Администрации сервиса о проблемах, поступающем спаме, оскорбительном контенте и нарушениях положений настоящего Соглашения другими Пользователями, несанкционированном доступе к сервисам с использованием учетной записи Пользователя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своего пароля со стороны третьих лиц;
<br>
<h3 class="center">4. ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h3>
8.1. Пользователь при Регистрации предоставляет Администрации сервиса свое согласие на автоматизированную, а также без использования средств автоматизации обработку персональных данных Пользователя. 
<br>
8.2. Администрация сервиса обрабатывает персональные данные Пользователя в целях исполнения Пользователями договоров работы, предоставления Пользователю услуг, в том числе, в целях получения Пользователем персонализированной (таргетированной) рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы мобильного приложения, а также разрабатывать новые сервисы и разделы мобильного приложения.
<br>
8.3. Администрация сервиса принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения, обеспечивает конфиденциальность и сохранность персональных данных Пользователя..
<br>
8.4. Администрация сервиса вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Республики Казахстан (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством РК по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством РФ случаях.
<br>
8.5. В случае если для наиболее эффективного исполнения настоящего Пользовательского соглашения Администрация сервиса сочтет целесообразным поручить полностью или частично обработку персональных данных Пользователя третьему лицу, Администрация сервиса запросит согласие Пользователя на передачу данных такому лицу до ее осуществления. Пользователь во всякое время имеет право бесплатно получить информацию о своих персональных данных, которые обрабатываются сервисом. Если, по мнению Пользователя, некоторые данные неверны или вводят в заблуждение, то он должен немедленно связаться с Администрацией сервиса и сообщить актуальные данные. 
<br>
8.6. Администрация сервиса вправе обрабатывать Персональные данные Заемщика любыми способами, как это необходимо, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
<br>
8.7. В процессе обработки Администрация сервиса имеет право передавать персональные данные третьим лицам, если это необходимо для достижения целей обработки и при условии соблюдения такими третьими лицами конфиденциальности и безопасности Персональных данных.
<br>
8.8. Администрация сервиса не собирает данные о расовом или этническом происхождении, политических, религиозных или мировоззренческих убеждениях, членстве в политических партиях и профессиональных союзах, а также данных, касающихся здоровья или половой жизни Пользователей, и не несет ответственность за разглашение Пользователями такой информации на сайте.
<br>
8.9. Опросы, проводимые время от времени Администрацией сервиса могут содержать вопросы о демографических данных Пользователей (например, образование, возраст, доход). Данные, собираемые Администрацией сервиса с помощью таких опросов, обрабатываются в обезличенном виде. Пользователи имеют возможность не принимать участие в опросах и отказаться от предоставления информации. Администрация сервиса использует демографические данные, в целях составления статистических отчетов и улучшения качества услуг.
<br>

<h3 class="center">5. ОТВЕТСТВЕННОСТЬ СТОРОН</h3>

10.1. В случае неисполнения или ненадлежащего исполнения своих обязательств по Соглашению Стороны несут ответственность в соответствии с законодательством РК с учетом условий настоящего Соглашения.
<br>
10.2. Администрация сервиса не несет ответственности за какие-либо косвенные/непрямые убытки или упущенную выгоду Пользователя и/или третьих лиц в результате использования Сервиса.
<br>
10.4. Администрация сервиса не отвечает за неисправности, ошибки и сбои в работе программно-аппаратного комплекса, обеспечивающего функционирование Сервиса, возникшие по причинам, не зависящим от Администрации сервиса.
<br>
10.5. Администрация сервиса не отвечает за убытки Пользователя, возникшие в результате:
<br>
10.5.1. предоставления Пользователем заведомо ложных сведений о себе (ФИО, банковские реквизиты, номер телефона);
<br>
10.5.2. нарушения Пользователем условий настоящего Соглашения и правил пользования Сервисом, размещенных на Сайте;
<br>
10.5.3. неправомерных действий третьих лиц, в том числе связанных с использованием логина и пароля Пользователя.
<br>
10.6. Администрация сервиса не несет ответственности за содержание Материалов и за соответствие их требованиям действующих нормативно-правовых актов, за нарушение авторских прав, несанкционированное использование товарных знаков, коммерческих обозначений и т.д., а также за возможные нарушения прав третьих лиц в связи с размещением Материалов на Сервисе и/или их использованием в соответствии с условиями настоящего Соглашения. 
<br>
10.7. Стороны не несут ответственности за неисполнение или ненадлежащее исполнение обязательств, принятых на себя по настоящему Соглашению, если надлежащее исполнение оказалось невозможным вследствие наступления обстоятельств непреодолимой силы, таких как: военные действия, эпидемии, пожары, природные катастрофы, нормативно-правовые акты и действия государственных и иных уполномоченных органов (организаций), делающие невозможными исполнение обязательств по настоящему Соглашению в соответствии с законным порядком. Указанные обстоятельства должны быть подтверждены уполномоченным государственным органом. Сторона по настоящему Соглашению, затронутая обстоятельствами непреодолимой силы, должна в течение 7 (семи) календарных дней известить другую Сторону о наступлении обстоятельств непреодолимой силы.
<br>
10.8. Администрация сервиса в рамках настоящего Соглашения оставляет за собой право:
<br>
10.8.1. Производить модификацию Сервиса;
<br>
10.8.2. Приостанавливать работу программных и/или аппаратных средств, обеспечивающих функционирование Сервиса, при обнаружении существенных неисправностей, ошибок и сбоев, а также в целях проведения профилактических работ и предотвращения случаев несанкционированного доступа к Сервису;
<br>
10.9. Администрация сервиса старается обеспечивать бесперебойную работу Сервиса, однако не несет ответственности за полную или частичную утрату Материалов, размещаемых Пользователем, а также за недостаточное качество или скорость предоставления услуг по размещению, воспроизведению и демонстрации Материалов.
<br>
10.10. Администрация сервиса оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, сообщенных BUMPER.KZ при регистрации и/или размещенных в мобильном приложении (в том числе, в Личном кабинете), и запросить в связи с этим подтверждающие документы (в частности - документы, удостоверяющие личность Пользователя). В случае, когда данные, указанные при регистрации, не позволяют идентифицировать Пользователя, Администрация сервиса вправе отказать Пользователю в доступе к учетной записи/Личному кабинету, и соответственно в доступе к Сервисам BUMPER.KZ. Непредставление запрашиваемых документов может (по усмотрению Администрации сервиса) повлечь за собой отказ Пользователю в доступе к учетной записи/Личного кабинета Пользователя или приостановление оказания Пользователю всех или части Сервисов.
<br>

<h3 class="center">6. ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ СОГЛАШЕНИЯ</h3>

11.1. Внесение изменений (дополнений) в настоящее Соглашение производятся Администрацией сервиса в одностороннем порядке путем размещения на Сайте.
<br>
11.2. Любые изменения в Мобильное Приложение BUMPER.KZ будут объявлены Администрацией сервиса не позднее чем за три дня до предполагаемой даты начала их применения. Пользователь будет считаться принявшим эти изменения, если он / она не уведоми Администрацию сервиса, что он / она не принимает их до предполагаемой даты их вступления в силу. Пользователь имеет право немедленно и безвозмездно расторгнуть Пользовательское соглашение до даты предлагаемого применения изменений. 
<br>
11.3. Несмотря на вышесказанное, в связи с принятием законодательного акта, постановления или решения органа власти могут потребоваться изменения, которые могут затрагивать существенные части Мобильного Приложения BUMPER.KZ. Такие изменения вступят в силу в момент их объявления Администрация сервиса без необходимости соблюдения указанного трехдневного периода до предполагаемой даты начала их применения.
<br>
11.4. Если Пользователь использует Услуги Мобильного Приложения BUMPER.KZ после вступления объявленных изменений условий использования в силу, Пользователь будет считаться принявшим такие изменения условий использования Мобильного Приложения BUMPER.KZ.
<br>

<h3 class="center">7. ПРОЧИЕ ПОЛОЖЕНИЯ</h3>
12.1. Все споры и разногласия, возникшие в связи с исполнением настоящего Соглашения разрешаются путем переговоров между сторонами Соглашения. В случае, если стороны не придут к соглашению, то спор  подлежит рассмотрению судом по месту нахождения Администрации сервиса.
<br>
12.3. BUMPER.KZ является зарегистрированным товарным знаком Администрации сервиса. Использование его, а также прочих логотипов, брендов и продуктов, описанных в мобильном приложении
<br>




</body>
</html>